:root {
  --dark-background: #002b36;
  --slighty-lighter-dark-background: #204b56;
  --subtly-light-background: #deeef2;
  --subtly-dark-background: #1d1603;
  --light-background: #fdf6e3;
  --gray-text: #a9babc;
  --grey-text: #a9babc;
  --lighter-gray-text: #c9dadc;
  --lighter-grey-text: #c9dadc;
  --subtly-transparent: #a9babc77;
  --bright-orange: #c60;
  --solarized-pink: #d33682;
  --brown: #842;
  --less-bright-yellow: #aa6;
  --bright-yellow: #cc6;
  --bright-blue: #06c;
  --very-bright-red: #c00;
  --bright-red: #c00;
  --wired-code: #2aa198;
  --yellow: #b58900;
  --dark-orange: #a60;
  --dark-red: #800;
  --dark-green: #060;
  --green: #090;
}

html {
  scrollbar-color: var(--bright-orange) var(--dark-background); /* Set scrollbar thumb and track color */
  scrollbar-width: thin; /* Set scrollbar width */
}

body {
  background: var(--dark-background) !important;
  font-size: 16px;
  color: var(--lighter-gray-text) !important;
  overflow-x: hidden;
}

#container {
  display: flex; /* Enable flexbox layout */
  height: 100vh;
}

div {
  border-radius: 0.1em;
}

.item {
  margin: 0.1%; /* Add some margin between the divs */
}

#cmap {
  width: 60%;
  box-shadow: 0 0 3px var(--bright-orange); /* Add a shadow */
  padding: 2em;
  overflow: scroll;
  margin-right: 1em;
}

#cmap:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 8px var(--bright-orange); /* Add a shadow */
}

#graphviz {
  box-shadow: 0 0 3px var(--bright-yellow); /* Add a shadow */
  padding: 0.5em;
  width: 100% !important;
  overflow: hidden;
}

#errors {
  box-shadow: 0 0 3px var(--very-bright-red); /* Add a shadow */
  width: 49% !important;
}

#source {
  box-shadow: 0 0 3px var(--bright-blue); /* Add a shadow */
  width: 49% !important;
}

#source {
  display: none;
}

#errors {
  display: none;
}

.source-code {
  white-space: pre-wrap;
  font-family: monoidregular;
  padding: 0.5em;
}

#modal {
  position: fixed;
  font-family: "monoidregular";
  top: 75vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}

.modal-row {
  cursor: pointer;
}

.error {
  border: 2px solid color-mix(in srgb, var(--bright-red) 80%, transparent);
  box-shadow: 0 0 3px var(--bright-red) !important; /* Add a shadow */
}

.line-numbers {
  display: flex;
  flex-direction: column; /* Stack numbers vertically */
  text-align: right; /* Align numbers to the right */
  width: fit-content; /* Make div as narrow as possible */
  min-width: 1em; /* Ensure space for 2-digit numbers with 0.5 font */
  user-select: none;
}

.line-numbers > div {
  /* Line numbers kind of fit well enough to find errors, only */
  font-family: "monoidregular";
  width: fit-content;
  font-size: round(50%, 1px);
  /* Strange magic to get these to fit. It seems min-height adds 1/2 of height only */
  min-height: round(2em, 1px);
  padding-top: round(1em, 1px);
}

.line-numbers > div:nth-child(odd) {
  color: #aaa;
}

.line-numbers > div:nth-child(even) {
  color: #777;
}

mark {
  background: orange;
  color: black;
}

svg .fawesome {
  font-family: "Font Awesome 6 Free Regular";
  font-weight: 100;
  margin-right: 5px;
  fill: #c60;
  cursor: default;
}

svg a {
  text-decoration: none;
}

.crossed {
  text-decoration: line-through;
  text-decoration-line: line-through;
  text-decoration-thickness: 0.3em !important; /* does not seem to work in SVG */
  fill: var(
    --bright-orange
  ); /* For some reason shows as black in app mode otherwise, Safari ignores it though */
}

#help-button {
  font-family: monoidregular;
  position: absolute;
  color: var(--bright-orange);
  background-color: var(--slighty-lighter-dark-background);
  top: 2em;
  right: 2em;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1001;
}

#open-thing {
  cursor: pointer;
}

#save-thing {
  cursor: pointer;
}

#menu-thing {
  cursor: pointer;
}

a {
  color: var(--bright-orange);
}

a:visited {
  color: var(--dark-orange);
}

#help-modal {
  position: fixed;
  font-family: "Inter";
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: var(--grey-text);
  background-color: var(--subtly-dark-background);
  padding: 1em 1em;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}

#view-only {
  border: 1px solid #c60;
  padding: 0.5em;
  border-radius: 0.1em;
}

#view-only > code {
  font-size: 50%;
  margin-top: 0.5em;
}

code {
  font-size: 90%;
  line-height: 1rem;
  font-family: monoidregular;
  color: var(--bright-blue);
}

code.high {
  line-height: 1rem;
  font-size: 180%;
}
